.page-header {
    color: #18B5A2;
    text-align: center;
    background-color: #0C0C0C;
    background-image: none;
}

.project-name {
    font-size: 3rem;
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
}

.project-tagline {
    font-size: 1.5rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #18B5A2;
}

a {
    color: #73246D;
    font-weight: bold;
    text-decoration: none;
}
